#voitures {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* desktop 3 cartes */
  gap: 20px;
  margin: 20px;
}

@media (max-width: 1000px) {
  #voitures {
    grid-template-columns: repeat(1, 1fr); /* tablette 2 cartes */
    margin: 40px;
  }
}

.voiture-card {
  background: #000;
  color: white;
  border-radius: 15px;
  padding: 20px 0px;
  text-align: center;
  position: relative;
  overflow: hidden;

  transform-style: preserve-3d;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
.stage{
  margin-top: -150px;
}
.voiture-card::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; 
  height: 80%;
  background: white;
  z-index: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 72%);
}

.voiture-card::after {
  content: "";
  position: absolute;
  bottom: 0; left: 0;
  width: 100%; 
  height: 20%;
  background: black;
  z-index: 0;

  clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
}

.voiture-card * {
  position: relative;
  z-index: 2;
}

.voiture-card:hover {
  transform: perspective(800px) rotateX(4deg) scale(1.05);
  box-shadow: 0 20px 45px #ff6600e2;
}

.voiture-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 12px;
}

.voiture-card .prix {
  position: absolute;
  top: 10px; right: 10px;
  background: #ff0000;
  color: white;
  padding: 5px 12px;
  border-radius: 10px;
  font-weight: bold;
  z-index: 3;
}

.voiture-card button {
  margin-top: 12px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #ff6600;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.voiture-card button:hover {
  transform: scale(1.1);
}

.pagination { 
  display: flex; 
  justify-content: center; 
  margin: 20px 0; 
  gap: 5px; 
}

.pagination button { 
  padding: 8px 14px; 
  border: none; 
  background-color: #007bff; 
  color: white; 
  border-radius: 4px; 
  cursor: pointer; 
  font-weight: bold;
}

.pagination button.disabled { 
  background-color: #ccc; 
  cursor: default; 
}

a { text-decoration: none; }

#recherche {
  background: #ff6600;
  padding: 3%; 
  text-align: center;
  color: white;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #ff6600e2;
}

#recherche h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: bold;
}

#recherche h3 {
  color: #222;
  font-size: 18px;
  margin-bottom: 40px;
}


.search-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -80px;
  
  background: white;
  padding: 30px;
  width: 70%;
  max-width: 900px;

  border-radius: 40px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.3);

  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.search-container select,
.search-container input {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  min-width: 160px;
  font-size: 15px;
}

.search-container button {
  padding: 10px 18px;
  background: #ff6600;
  color: white;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.search-container button:hover {
  background: #333;
}

.espace {
  height: 100px;
}









