        body { font-family: Arial, sans-serif; padding: 20px; text-align: center;}
        #recu {
            text-align: left;
            max-width: 800px;
            margin: auto;
            border: 2px solid #ff6600;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px gray;
        }
        h2 { color: #ff6600; text-align: center; font-size: 2em; font-weight: bold; font-family: normal;}
        table { width: 100%; border-collapse: collapse; margin-top: 15px; }
        th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
        th { background: #f4f4f4; }
        .total { text-align: right; font-weight: bold; margin-top: 10px; }
        .btn-print { margin-top: 15px; border-radius: 20px; box-shadow: 0px 0px 20px #ff6600; background-color:black; color: #ccc; font-weight: bold; padding: 10px 10px; cursor: pointer; justify-content: center; align-items: center;}
        #N_fact{
            position: relative;
            text-align: right;
            margin-top: 0;
        }
        img{
            width: 150px;
            height: 150px;
        }
        @media print{
            .btn-print{
                display: none;
            }
            #recu{
                width: 100% ;
                max-width: 100% ;
                margin: 0 ;
                padding: 0 ;
                border: none ;
                box-shadow: none ;
            }
        }